#principal{
    font-family:'Roboto',sans-serif;
    font-size: 20px;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    font-size: 55px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h2{
    color: #5F62AB;
}
.logo{
    width: 170px;
    height: 170px;
    margin-right: 35%;
}


nav{
    /* margin:0 10px;*/
     padding: 5px ;
     background-color: #333;
 }
 
 nav>ul{
     list-style: none;
     text-align: center;
 }
 nav>ul>li{
     display: inline;
     padding: 20px;
 }
 nav ul li a:hover {
     color: #1E90FF; /* Color cuando el mouse pasa por encima */
   }
 nav a{
     text-decoration: none;
     font-weight: bold;
     color: aliceblue;
 }


 /*-----------------------footer ---------------------------------------*/
 footer{
  padding: 20px 0;
  background-color: #333;
  text-align: left;
  font-size: 15px;
  display: inline;
  color: aliceblue;
}
footer nav ul li{
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}
footer>a:hover {
  color: #1E90FF; /* Color cuando el mouse pasa por encima */
}
  section{
    background-color:#5F62AB;
    height: auto;
    width: 100%;

    
  }
  section h1{
    color: white;
    text-align: center;
    border-bottom: 2px solid white ;
  }
  section article{
    margin-left: 5%;
  }

  .horizontal{
    width: 75%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    flex-grow: 1;
    
  }
  .vertical {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: flex-start;
    padding: 10px;
    flex-grow: 1;
    
  }